.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.bi-moon-stars {
	color: #f1c40f;
}

.bi-sun-fill {
	color: #f39c12;
}

body.light-mode {
    background-color: #fff;
    color: #333;
    transition: background-color 0.7s;
    .ham-menu{
        background: white;
    }
}

body.dark-mode {
    background-color: #10171d;
    color: #dfdfdf;
    transition: background-color 0.7s;
    .dark-mode-toggle > button {
        color: #999;
        &:last-child {
        color: lightblue;
        }
    }
    .card{
        background-color: #404258;
        transition: background-color 0.7s;
    }
    .heart-icon{
        color: white;
    }
    .ham-menu{
        background-color: black;
    }
}

.dark-mode-toggle {
    display: flex;
    & > button {
        font-size: 1.2em;
        background: none;
        border: none;
        color: #ffe600;
        cursor: pointer;
        transition: color 0.3s ease;
        &:last-child {
            color: #666;
        }

        &:focus {
            outline: none;
        }
    }
}

.toggle-control {
    position: relative;
    padding: 0 4px;
    display: flex;
    align-items: center;
}
  
input[type='checkbox'].dmcheck {
    width: 40px;
    height: 10px;
    background: #555;
    position: relative;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    vertical-align: 2px;
    outline: none;

    &:checked + label {
        left: 30px;
    }

    &:focus-visible {
        outline: solid 2px white;
    }

    & + label {
        display: inline-block;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        transition: all 0.3s ease;
        cursor: pointer;
        position: absolute;
        left: 2px;
        background: #fff;
        opacity: 0.9;
        background-color: #f6f6f6;
    }
}